<% if (tabName !== 'Home') { %>
    <footer class="footer py-3 mt-auto">
        <div class="container">
            <span>Copyright &copy; 2022 Xinyue Sun. All rights reserved.</span>
        </div>
    </footer>
<% } %>