<% layout('layouts/boilerplate')%>
<nav id="mainNavbar" class="navbar navbar-dark navbar-expand-sm fixed-top">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navLinks">
        <ul class="navbar-nav">
            <li class="nav-item" id="mainNavLi">
                <a href="/" class="nav-link">
                    <span class="svgContainer"></span>
                    <span>MARGINAL SIGHTLINE</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/research" class="nav-link">RESEARCH</a>
            </li>
            <li class="nav-item">
                <a href="/archive" class="nav-link">ARCHIVE</a>
            </li>
            <li class="nav-item current">
                <a href="/opposition" class="nav-link">OPPOSITION</a>
            </li>
        </ul>
    </div>
    <div id="tabName">
        OPPOSITION
    </div>
</nav>
<main class="container-fluid">
    <div class="spaceholder"></div>
    <div class="row mt-5">
        <div class="col-12 col-md-8 col-xl-6 mb-5" id="oppoTitle">
            <h1 class="positioning-box" id="oppoTitleMain">
                <div class="positioned">
                    "GAZING GAZE"<br>HANDBOOK
                </div>
            </h1>
        </div>
        <div class="col-0 col-md-4 col-xl-5"></div>
    </div>
    <div id="eyes">
        <div id="leftEye"></div>
        <div id="rightEye">
                <p style="font-weight: 400;">"Gazing Gaze" anti-gaze</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1 mt-5 mb-3 concentrated">
            <p>" Gazing Gaze "is an anti-gaze device designed to directly counter gaze violence. It works by applying the gaze in reverse, the gaze of the other person. It's a portable device, it can fight back at any time.</p>
            <p>Instead of looking back when someone stares at me, I use my device to stare back and forth. Instead of using my own subjectivity to turn you into an object, I use devices instead of my gaze. I no longer construct the gaze myself.</p>
	        <p>I do not choose to construct a gaze again to hurt you, but I hope to deconstruct differences and opposites. My no longer staring is not that I don't fight back, but that I need a substitute to stare at yours. Express your position and attitude without changing color or behavior.</p>
        </div>
    </div>
    <div class="row">
        <img src="/img/fulls/opposition/4_joystick.png" alt="joy stick" class="img-fluid px-0">
    </div>
    <div class="row align-items-center">
        <div class="col-6 col-lg-4 offset-lg-1">
            <img src="/img/fulls/opposition/5_joystick_in_pocket.png" alt="joystick in pocket" class="img-fluid">
        </div>
        <div class="col-6 col-lg-4 pb-5">
            <p id="joyStickInstruction">Put the JoyStick in your pocket and quietly control the machine. When you catch someone staring at you, you just control "Gazing Gaze" and use it to stare back instead of you.</p>
        </div>
        <div class="d-none d-lg-flex col-lg-2" id="oppoDecoration">
            <img src="/img/fulls/opposition/6_decoration.png" alt="" class="img-fluid">
        </div>
    </div>
    <div class="row my-5">
        <video controls autoplay="false" class="d-block">
            <source src="/other/joystick.webm" type="video/webm">
        </video>
    </div>
    <div class="row my-5">
        <div class="col-md-10 col-xl-8 offset-xl-1">
            <p>Borrowing the gaze and anti-gazing strategies from the literary works such as Carter, combined with this article, the concept of Extraordinary Body Gaze is proposed from the visual violence of the body. The author believes that the best way to fight back against the violence of bizarre body staring physiological visual behavior is to use the same physiological vision. The act of violent counterattack is the visual practice of gazing at the gaze of others, called Gazing Gaze.</p>
            <p>This kind of forced transformation, violence against violence, and intense conflict and retaliatory behavior is the most powerful counterattack to the direct line of sight attack before moving toward binary deconstruction. The viewer looks at the viewer who is watching, and uses the line of sight to prompt the process of otherization, which is often ignored, and completes the reversal of the relationship to be viewed. The viewer becomes the viewer, the viewer becomes the viewer, and an additional the latitude sight is used to resist the projected visual oppression and reverse power relations. It is possible that any strange action or behavior cannot attract the attention of the monitor to his own behavior projected by his own sight. Only when the viewer looks at him will he realize that he has been otherized by the same behavior, thereby breaking the one-way internalization pattern.</p>
            <p>Barbara Kruger's photo op Your Gaze Hits the Side of My Face, a profile portrait of a woman in stone lip-smacking the viewer: "Your Gaze Hits the Side of My Face." Aggressive male viewer. And Kruger's text-added upright female figure may have been turned to stone under the male Medusa-like gaze. Before Kruger added the text, this idealized to perfect woman to classical statue was gazed upon in undisturbed visual delight, objectified, and objectified without any conscious awareness. The text Your Gaze Hits the Side of My Face is a reminder and an accusation. Like the Medusa effect, it has the power to turn everyone into stone within a limited range, and turn the gazers into stone. The anti-gazing strategy of extraordinary body gaze - Gazing Gaze, its anti-gazing behavior is also like this passage of Kruger, using the sight of the eyes as a tool of warning and accusation, exerting a petrified and extremely powerful effect on the viewer like the Medusa effect. The oppressive sight provides the image path. When others come with contemptuous eyes, look back at the viewer's eyes and tell him with your eyes: You are offending me, you are hurting me! . "When you're staring at my body, looking, I'm staring into your eyes; when you're staring at me, I'm staring at you. When you take away my subjectivity, my stare It’s also breaking this one-way deprivation of power.”</p>
            <p class="pb-0 mb-0">Of course, what we expect from the gaze is that this dualistic situation eventually deconstructs. Stop passively accepting the disdainful gazes sent by viewers, and actively use your gaze to criticize these stereotypes, and deconstruct the stereotyped representation of weird body groups by mainstream ideology. At this point, the identity is dissolved, the context in question is dissolved, and there will be no subject and object, and there will be no gaze.</p>
        </div>
        <div class="d-none d-md-flex col-md-1" id="strip"></div>
    </div>
    <div class="row mx-5 mx-lg-0">
        <div class="col-lg-8 offset-lg-3">
            <img src="/img/fulls/opposition/8_purse.png" alt="" class="img-fluid">
        </div>
    </div>
    <div class="row my-5">
        <div class="col-6 col-md-4 offset-1">
            <img src="/img/fulls/opposition/9_decoration.svg" alt="" class="img-fluid">
        </div>
    </div>
    <div class="row my-5 mx-2 mx-sm-5">
        <p id="ad">We also welcome you to join our "Gazing Gaze" program. We can customize your "Gazing Gaze" machine for you. All you need to do is send us your eye picture, and you can get your own "Gazing Gaze" machine!</p>
    </div>
</main>