<% layout('layouts/boilerplate')%>
<h1>Opposition</h1>
<div class="row">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. At veritatis excepturi dolore eveniet placeat alias voluptatibus quasi blanditiis deleniti, ea repudiandae officiis quaerat eligendi commodi beatae sunt! Expedita, qui temporibus?
</div>