<% layout('layouts/boilerplate')%>
<h1>Research</h1>
<div class="row">
    <div class="col-8">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At veritatis excepturi dolore eveniet placeat alias voluptatibus quasi blanditiis deleniti, ea repudiandae officiis quaerat eligendi commodi beatae sunt! Expedita, qui temporibus?
    </div>
    <div class="col-4">
        PDF
    </div>
</div>