<% layout('layouts/boilerplate')%>
<nav id="mainNavbar" class="navbar navbar-dark navbar-expand-sm py-0 fixed-top">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navLinks">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/" class="nav-link" id="mainPageLink">
                    <span id="svgContainer"></span>
                    <span>MARGINAL SIGHTLINE</span>
                </a>
            </li>
            <li class="nav-item current">
                <a href="/research" class="nav-link">RESEARCH</a>
            </li>
            <li class="nav-item">
                <a href="/archive" class="nav-link">ARCHIVE</a>
            </li>
            <li class="nav-item">
                <a href="/opposition" class="nav-link">OPPOSITION</a>
            </li>
        </ul>
    </div>
</nav>


<main class="container mt-5">
    <div class="row">
        <h1 class="mb-5 mt-5 col-md-8 col-xl-6">Extraordinary Body Gaze: Physical visual violence and physical oppression in minority groups</h1>
    </div>
    <div class="row">
        <div class="order-2 order-md-1 col-md-8 col-xl-6" id="essayPart">
            <p>Abstract: This paper proposes the concept of Extraordinary Body Gaze, which refers to the gaze that is endowed with visual violence and a power mechanism in visual practice due to the representation of the body image that is different from what is normal. This concept is related to feminism, queer theory, and physical disability theory. The paper will invesitigate the visual harm and power oppression suffered by queer and people with disabilities from the perspective of body and visual culture. Through this investigation, the paper intends to shed more light on the harm and oppression in the queer and disability theories.</p>
            <p>Keywords: gaze, body, visual culture, queer community, disability community.</p>
            <p>As a transgender man, I grew up thinking of myself as a boy and lived as much like a boy as possible—I think the most natural look. In my childhood and growth, being gazed and being looked at is always with me. I kept laughing at myself: "I was seen since I was a kid". Even though my age and the increased tolerance and openness of the society I live in have made me feel more at ease with this "objectification", its existence has kept me thinking about all kinds of questions that "Gaze" brings me.</p>
            <p>"Tomboys are always questioned by classmates, teachers or strangers around them: Are you a boy or a girl? When will you be normal? Why don't you wear a skirt? Cancer patients call themselves "monsters" who have no hair. Because he thinks everyone is looking at him like a monster; feminine boys are always regarded as "sissies" because they walk too much like girls; Open white eyes will always become the center of public attention..." In fact, more groups with "unusual" physical appearance and behavior are troubled by this "gazing". As a marginalized group, they seem to have long been accustomed to the curiosity and questions from the people around them, and have long been accustomed to thinking that "maybe they will be like this". This seems to be inherently cowardly, not enough to respond, and never dare to mention it out loud, so this behavior becomes the edge of the violence.</p>
            <p>Based on the author's own experience and research interests, the author conducted in-depth interviews with 15 marginalized groups (15 students) with "abnormal body representations" on issues related to body gaze. They were 10 queer and 5 people with disabilities (including qualitative changes in structure). The interview data is realistic and expected. The 15 interviewers all said to varying degrees that they were often or occasionally stared at by others, and experienced negative emotions such as embarrassment, shame, distrust, anxiety, vigilance, anger, and disgust to varying degrees. 8 out of 10 queer people grew up with varying levels of dress and behavior, and wished they could be ignored as normal. During the whole interview process, the interviewees revealed their agreement with this question and the interview, as well as the psychological distress caused by the physical gaze. (The content of the questionnaire and interview can be found in Table 1.1 )</p>
            <p>The term "body gaze" appears more in the context of feminism and film and television theory. The meaning of "body gaze" is that under the male gaze in the feminist vision, women become the object of male erotic viewing, which is motivated by the natural gender consciousness of vision and the theory of desire and voyeurism theory based on dualism and essentialism. When minority groups such as queer groups and people with disabilities are viewed as objects, the "body gaze" they encounter is often a visual spectacle brought about by "abnormal body image representation", and this spectacle brings the curious, contemptuous gaze of the normal bodily crowd in the so-called social order. This gaze is not only the manifestation of its oppressive and lethal visual violence, but also a comprehensive representation of ideology and its behavioral means under the norms of social rights (Yang 2016). It has more visual practice than in cultural contexts such as feminism and postcolonialism, and the more direct visual violence brought to the objectified object have caused tangible or intangible damage to the body and psychology of the person being stared at. This kind of watching because of curiosity and disgust not only reflects the simple relationship between seeing and being seen, but also reflects the social and cultural theory of the body from the perspective of power mechanism and identity politics. The discussion of the disgusting viewing of the “strange” body is a minority, its group is also marginal, and their voice is even more difficult, it does not form a critical topic like the male gaze or the racial gaze to specifically criticize our bodies and vision. The oppressive mode, and the explicitness of the body representation itself also make the stared person lack self-identity, and even lack the counterattack and injury appeal to this body staring, which makes this topic more marginalized.</p>
            <p>Therefore, in view of the above thinking, this paper proposes a concept of body gaze about the "weird" or "wonder" body group—Extraordinary Body Gaze. Referring to the visual violence and the gaze of the power mechanism given to the visual practice of people with body image representations that are different from the "normal group". It is different from the "heterosexual body gaze" in most of the previous feminist studies, which is the projection of desire, the objectification of the body and the patriarchal "heterosexual body gaze". Its mechanism is more related to visual spectacle and visual pleasure. Associated with the "heterosexual body gaze" is that they are produced under the social operation of "the docile body" proposed by Foucault. Proposing the concept of Extraordinary Body Gaze as a form of expressing dissatisfaction with so-called social norms, which, like feminism, can be traced back to the source of their dissatisfaction with the body and its incitement and maintenance of heterosexual and/or "healthy people" between the influence of power relations. The body itself has become a key site of social debate, not only between binary genders, but also between the predominant 'normal gendered' traits or healthy physique and the marginalised and stigmatised 'exotic body'.</p>
            <p>This article revolves around the body images and visual culture of groups with "weird bodies" or "abnormal traits" such as queer groups and people with disabilities. Combining feminism, queer theory and physical disability theory, it tries to explore topics such as vision and body, power ideology and other topics from the perspective of visual culture and minority body politics, and proposes the concept of Extraordinary Body Gaze, and emphasizes thinking on the power relations and social construction of gender marginalized people and people with disabilities. At the end of the article, this article proposes an anti-gazing strategy against the Extraordinary Body Gaze, hoping to encourage the active criticism and resistance of the watched group, so as to deconstruct the stereotypes of the mainstream ideology.</p>
        </div>
        <div class="order-1 mb-3 mb-md-0 order-md-2 col-md-4 col-xl-6" id="downloadPart">
            <p>Here is an excerpt from the research content of the project.</p>
            <p>To view the full research paper, please download 
                <a href="/other/essay.pdf">
                    <i class="fa-solid fa-file"></i>
                    the PDF/issuu</a> and 
                    <a href="#">Tables</a>.
            </p>
        </div>
    </div>
</main>