@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'font-face.css';

/* built-in */
body {
    background: black;
    color: white;
    font-family: 'Myriad Variable Concept';
    font-weight: 300;
}

body main h1 {
    font-family: 'Analogue';
    font-style: italic;
    font-size: 2em;
}

footer {
    font-size: 0.8em;
    font-family: 'Helvetica Neue';
    font-weight: 400;
    color: white;
}
/* built-in */

/* bootstrap built-in */

#mainNavbar {
    background: black;
    font-family: 'Helvetica Neue';
    font-weight: 300;
    color: #383838;
}

@media screen and (min-width: 576px) {
    #mainNavbar .current a {
        color: white;
    }

    #navLinks ul {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 99%;
    }
}

/* bootstrap built-in */

/* custom */

/*-- nav */
.svgContainer {
    background-image: url(../img/thumbnails/simple_logo.svg);
    line-height: 1;
    padding-left: 1.5em;
    margin-right: 2px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
}

#tabName {
    font-family: 'Helvetica Neue';
    font-weight: 300;
    color: white;
    display: flex;
    padding-right: 10px;
}

@media screen and (min-width: 576px) {
    #tabName {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    #mainNavLi {
        display: block;
        text-align: left;
    }
}

/*-- nav */

#downloadPart a {
    color:rgb(209, 211, 212);
    font-weight: 500;
}

#downloadPart a:hover {
    color:rgb(169, 169, 171);
}

#downloadPart {
    font-style: italic;
    font-size: 1.2em;
}

#essayPart {
    font-size: 1.2em;
    color: rgb(209, 211, 212);
}
/* custom */