@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'font-face.css';

/* built-in */
body {
    background: black;
    color: white;
    font-family: 'Myriad Variable Concept';
    /* font-weight: 300; */
}

footer {
    font-size: 0.8em;
    font-family: 'Helvetica Neue';
    font-weight: 400;
    color: white;
}

p {
    font-size: 1.1em;
    font-weight: 300;
}

/* built-in */

/* bootstrap built-in */

#mainNavbar {
    background: black;
    font-family: 'Helvetica Neue';
    font-weight: 300;
    color: #383838;
}

@media screen and (min-width: 576px) {
    #mainNavbar .current a {
        color: white;
    }

    #navLinks ul {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 99%;
    }
}

/* bootstrap built-in */

/* custom */

.concentrated, .concentrated p {
    font-size: 1.1em;
    font-weight: 400;
}

/*-- nav */
.svgContainer {
    background-image: url(../img/thumbnails/simple_logo.svg);
    line-height: 1;
    padding-left: 1.5em;
    margin-right: 2px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
}

#tabName {
    font-family: 'Helvetica Neue';
    font-weight: 300;
    color: white;
    display: flex;
    padding-right: 10px;
}

@media screen and (min-width: 576px) {
    #tabName {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    #mainNavLi {
        display: block;
        text-align: left;
    }
}

/*-- nav */

/*-- page-specific */

/*--- research */
#researchTitle {
    font-family: 'Analogue';
    font-style: italic;
    font-size: 2em;
}

#downloadPart a {
    color:rgb(209, 211, 212);
    font-weight: 500;
}

#downloadPart a:hover {
    color:rgb(169, 169, 171);
}

#downloadPart {
    font-style: italic;
}

#essayPart {
    font-weight: 300;
    color: rgb(209, 211, 212);
}
/*--- research */

/*--- opposition */

#oppoTitle .positioning-box {
    position: relative;
    height: 0;
    padding-bottom: 56.26%;
    background-image: url(../img/fulls/opposition/1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#oppoTitle h1 .positioned {
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-weight: 300;
    font-size: 0.9em;
    position: absolute;
    bottom: 0;
    right: 0;
}

#eyes {
    display: flex;
    justify-content: center;
}

#leftEye {
    width: 50%;
    height: 0;
    padding-bottom: 28.4375%;
    background-image: url(../img/fulls/opposition/2_eye_left.png);
    background-size: 100% auto;
    background-position: right;
    background-repeat: no-repeat;
}

#rightEye {
    width: 50%;
    height: 0;
    padding-bottom: 28.4375%;
    background-image: url(../img/fulls/opposition/3_eye_right.png);
    background-size: 100% auto;
    background-position: left;
    position: relative;
    background-repeat: no-repeat;
}

#rightEye p {
    position: absolute;
    bottom: 0;
    right: 5px;
}

#strip {
    background-image: url(../img/fulls/opposition/7_decoration.svg);
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
}

#ad {
    font-weight: 500;
    font-size: 3em;
    font-style: italic;
}

/*--- opposition */
/*-- page-specific */
/* custom */