@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'font-face.css';

/* built-in */
body {
    background: black;
    color: white;
    font-family: 'Myriad Variable Concept';
    overflow-x: hidden;
    /* font-weight: 300; */
}

footer {
    font-size: 0.8em;
    font-family: 'Helvetica Neue';
    font-weight: 400;
    color: white;
}

p {
    font-size: 1.1em;
    font-weight: 300;
}

/* built-in */

/* bootstrap built-in */

#mainNavbar {
    background: black;
    font-family: 'Helvetica Neue';
    font-weight: 300;
    color: #383838;
}

@media screen and (min-width: 576px) {
    #mainNavbar .current a {
        color: white;
    }

    #navLinks ul {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 99%;
    }
}

/* bootstrap built-in */

/* custom */

.concentrated, .concentrated p {
    font-size: 1.1em;
    font-weight: 400;
}

@media screen and (max-width: 576px) {
    .spaceholder {
        margin-top: 6em;
    }
}

@media screen and (min-width: 576px) {
    .spaceholder {
        margin-top: 5em;
    }
}

/*-- nav */
.svgContainer {
    background-image: url(../img/thumbnails/simple_logo.svg);
    line-height: 1;
    padding-left: 1.5em;
    margin-right: 2px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
}

.nav-link a {
    text-decoration: none;
    color: white;
}

#tabName {
    font-family: 'Helvetica Neue';
    font-weight: 300;
    color: white;
    display: flex;
    padding-right: 10px;
}

@media screen and (min-width: 576px) {
    #tabName {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    #mainNavLi {
        display: block;
        text-align: left;
    }
}

/*-- nav */

/*-- page-specific */

/*--- research */
#researchTitle {
    font-family: 'Analogue';
    font-style: italic;
    font-size: 2em;
}

#downloadPart a {
    color:rgb(209, 211, 212);
    font-weight: 500;
}

#downloadPart a:hover {
    color:rgb(169, 169, 171);
}

#downloadPart {
    font-style: italic;
}

#essayPart {
    font-weight: 300;
    color: rgb(209, 211, 212);
}
/*--- research */

/*--- archive */

.groups {
    display: flex;
    align-items: end;
}

#group2, #group3 {
    text-align: right;
}

#group2 img {
    width: 83.1%;
    height: auto;
}

#group1 img {
    width: 91.7%;
    height: auto;
}

#group3 img {
    width: 79.7%;
    height: auto;
}



/*--- archive */


/*--- opposition */

#oppoTitle .positioning-box {
    position: relative;
    height: 0;
    padding-bottom: 56.26%;
    background-image: url(../img/fulls/opposition/1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#oppoTitle h1 .positioned {
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-weight: 300;
    font-size: 0.9em;
    position: absolute;
    bottom: 0;
    right: 0;
}

#eyes {
    display: flex;
    justify-content: center;
}

#leftEye {
    width: 50%;
    height: 0;
    padding-bottom: 28.4375%;
    background-image: url(../img/fulls/opposition/2_eye_left.png);
    background-size: 100% auto;
    background-position: right;
    background-repeat: no-repeat;
}

#rightEye {
    width: 50%;
    height: 0;
    padding-bottom: 28.4375%;
    background-image: url(../img/fulls/opposition/3_eye_right.png);
    background-size: 100% auto;
    background-position: left;
    position: relative;
    background-repeat: no-repeat;
}

#rightEye p {
    position: absolute;
    bottom: 0;
    right: 5px;
}

#strip {
    background-image: url(../img/fulls/opposition/7_decoration.svg);
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
}

#ad {
    font-weight: 500;
    font-size: 3em;
    font-style: italic;
}

@media screen and (max-width: 576px) {
    #ad {
        font-size: 2em;
    }
    #joyStickInstruction {
        font-size: 0.7em;
    }
    #rightEye p {
        font-size: 0.7em;
    }
}

#joyStickInstruction {
    font-weight: 400;
}

@media screen and (max-width: 576px) {
    
}

/*--- opposition */

/*--- archive */
.cube {
    height: 0;
    width: 19%;
    padding: 0 0 17% 0;
}

@media screen and (max-width: 576px) {
    .cube p {
        font-size: 0.3em;
    }
}

@media screen and (max-width: 768px) {
    .cube p {
        font-size: 0.5em;
    }
}


@media screen and (max-width: 992px) {
    .cube p {
        font-size: 0.7em;
    }
}

#numbers {
    font-size: 0.8em;
}

.card-container {
    position: absolute;
}

.card-custom {
    position: relative;
    padding: 0;
    display: inline-block;
}

.img-vertical {
    display: inline-block;
    margin: 0;
    width: 100%;
    height: auto;
}

.img-horizontal {
    display: inline-block;
    margin: 0;
    height: 100%;
    width: auto;
}

form {
    font-style: italic;
}

#formBox {
    height: 100%;
    display:flex;
    align-items: center;
}

.form-control, .form-select {
    background-color: #000;
}

#formDecoration {
    height: 20%;
    background-image: url(../img/fulls/story/decoration.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (min-width: 768px) {
    #formDecoration {
        height: 100%;
    }
    #formContainer {
        height: 100%;
    }
}

#buttonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#submitButton {
    border: 1px solid #ced4da;
    background-color: #000;
    font-style: italic;
    margin-left: auto;
}

#submitButton:hover {
    background-color: #181818;
}

/* form input,select,textarea:focus {
    background-color: #000;
} */

/*-- archive */

/*-- home */

.switchButton {
    background-image: url(../img/thumbnails/switchButton.svg);
    line-height: 1;
    padding-left: 1.5em;
    margin-right: 2px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
}

#whole {
    width: 98%;
    left: 1%;
    position: relative;
    opacity: 0;
}

#whole.revealed {
    opacity: 1;
}

#visibleAtFirst {
    width: 98%;
    left: 1%;
    padding-bottom: 60.213%;
    position: absolute;
    background-image: url(../img/fulls/home/visibleAtFirst.png);
    background-repeat: no-repeat;
    background-size: contain;

}

#coveringEyes {
    position: absolute;
    width: 98%;
    left: 1%;
    height: auto;
}

.covering-eye {
    position: absolute;
    pointer-events: none;
    width: 98%;
    left: 1%;
    opacity: 0;
    height: 0;
    padding-bottom: 60.226%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

#suggestion p {
    font-size: smaller;
    font-style: italic;
}

#suggestion .switchButton {
    padding-left: 1em;
}

#eye0 {
    background-image: url(../img/fulls/home/eye0.png);
    opacity: 1;
}

#eye1 {
    background-image: url(../img/fulls/home/eye1.png);
}

#eye2 {
    background-image: url(../img/fulls/home/eye2.png);
}


#eye3 {
    background-image: url(../img/fulls/home/eye3.png);
}

#eye4 {
    background-image: url(../img/fulls/home/eye4.png);
}

#eye5 {
    background-image: url(../img/fulls/home/eye5.png);
}

#eye6 {
    background-image: url(../img/fulls/home/eye6.png);
}

#eye7 {
    background-image: url(../img/fulls/home/eye7.png);
}

#eye8 {
    background-image: url(../img/fulls/home/eye8.png);
}

#eye9 {
    background-image: url(../img/fulls/home/eye9.png);
}

#eye10 {
    background-image: url(../img/fulls/home/eye10.png);
}

#eye11 {
    background-image: url(../img/fulls/home/eye11.png);
}

#eye12 {
    background-image: url(../img/fulls/home/eye12.png);
}

#eye13 {
    background-image: url(../img/fulls/home/eye13.png);
}

#eye14 {
    background-image: url(../img/fulls/home/eye14.png);
}

#eye15 {
    background-image: url(../img/fulls/home/eye15.png);
}

#eye16 {
    background-image: url(../img/fulls/home/eye16.png);
}

#eye17 {
    background-image: url(../img/fulls/home/eye17.png);
}

#eye18 {
    background-image: url(../img/fulls/home/eye18.png);
}

#eye19 {
    background-image: url(../img/fulls/home/eye19.png);
}

#eye20 {
    background-image: url(../img/fulls/home/eye20.png);
}

#eye21 {
    background-image: url(../img/fulls/home/eye21.png);
}

#eye22 {
    background-image: url(../img/fulls/home/eye22.png);
}

#eye23 {
    background-image: url(../img/fulls/home/eye23.png);
}

#eye24 {
    background-image: url(../img/fulls/home/eye24.png);
}

#eye25 {
    background-image: url(../img/fulls/home/eye25.png);
}

#eye26 {
    background-image: url(../img/fulls/home/eye26.png);
}

#eye27 {
    background-image: url(../img/fulls/home/eye27.png);
}

#eye28 {
    background-image: url(../img/fulls/home/eye28.png);
}

#eye29 {
    background-image: url(../img/fulls/home/eye29.png);
}

#eye30 {
    background-image: url(../img/fulls/home/eye30.png);
}

#eye31 {
    background-image: url(../img/fulls/home/eye31.png);
}

#eye32 {
    background-image: url(../img/fulls/home/eye32.png);
}

#eye33 {
    background-image: url(../img/fulls/home/eye33.png);
}

#eye34 {
    background-image: url(../img/fulls/home/eye34.png);
}


/* #background {
    position: fixed;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 56.405%;
    background-image: url(../img/fulls/home/background.svg);
    background-size: 100% auto;
    background-position: left top;
    background-repeat: no-repeat;
}

#bodyparts {
    left: 0;
    width: 100%;
    aspect-ratio: 100 / 56.405;
    position: fixed;
}

.bodypart {
    position: relative;
}

#svg1 {
    left: 0;
    top: 15.423%;
    width: 12.784%;
    height: auto;
} */

/* #svg2 */


/*-- home */

/*-- page-specific */
/* custom */